@font-face {
  font-family: 'SFNS-Text';
  src: url("/fonts/(.SFNSText)SFNSTextItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextCondensed-Bold';
  src: url("/fonts/(.SFNSText-Bold)SFNSTextCondensed-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextCondensed-Heavy';
  src: url("/fonts/(.SFNSText-Heavy)SFNSTextCondensed-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextItalic';
  src: url("/fonts/(.SFNSText-Italic)SFNSTextItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextMedium';
  src: url("/fonts/(.SFNSText-Medium)SFNSTextCondensed-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-Bold';
  src: url("/fonts/(GandhiSans-Bold)GandhiSans-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-BoldItalic';
  src: url("/fonts/(GandhiSans-BoldItalic)GandhiSans-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-Italic';
  src: url("/fonts/(GandhiSans-Italic)GandhiSans-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-Regular';
  src: url("/fonts/(GandhiSans-Regular)GandhiSans-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LucidaGrande-Regular';
  src: url("/fonts/(LucidaGrande)LucidaGrande.ttc");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LucidaGrande-Bold';
  src: url("/fonts/(LucidaGrande-Bold)LucidaGrande.ttc");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/fonts/(Montserrat-Regular)Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/fonts/(Montserrat-Bold)Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("/fonts/(MyriadPro-Regular)MyriadPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url("/fonts/MyriadPro-Light.otf");
  font-weight: normal;
  font-style: normal;
}
.neopraxis-font-snfs-text {
  font-family: 'SFNS-Text';
}
.neopraxis-font-snfs-condensed-bold {
  font-family: 'SFNS-TextCondensed-Bold';
}
.neopraxis-font-snfs-condensed-heavy {
  font-family: 'SFNS-TextCondensed-Heavy';
}
.neopraxis-font-snfs-italic {
  font-family: 'SFNS-TextItalic';
}
.neopraxis-font-snfs-medium {
  font-family: 'SFNS-TextMedium';
}
.neopraxis-font-gandhisans-bold {
  font-family: 'GandhiSans-Bold';
}
.neopraxis-font-gandhisans-bold-italic {
  font-family: 'GandhiSans-BoldItalic';
}
.neopraxis-font-gandhisans-italic {
  font-family: 'GandhiSans-Italic';
}
.neopraxis-font-gandhisans-regular {
  font-family: 'GandhiSans-Regular';
}
.neopraxis-font-lucidagrande-regular {
  font-family: 'LucidaGrande-Regular';
}
.neopraxis-font-lucidagrande-bold {
  font-family: 'LucidaGrande-Bold';
}
.neopraxis-font-montserrat-regular {
  font-family: 'Montserrat-Regular';
}
.neopraxis-font-montserrat-bold {
  font-family: 'Montserrat-Bold';
}
.neopraxis-font-myriadpro-regular {
  font-family: 'MyriadPro-Regular';
}
.neopraxis-font-myriadpro-light {
  font-family: 'MyriadPro-Light';
}
.cover {
  background-position: center;
  background-size: cover;
}
.simple-parallax {
  background-attachment: fixed;
}
@media screen and (max-width: 767px) {
  .simple-parallax {
    background-attachment: initial;
  }
}
.vertical-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
body {
  font-size: inherit;
}
body.noscroll {
  overflow: hidden;
}
body.noscroll::after {
  content: ' ';
  opacity: 1;
  z-index: 9;
}
a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}
#page {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.custom-loader {
  display: none;
  text-align: center;
  width: 100%;
}
.custom-loader .ball-pulse-sync div {
  background: #fff;
}
.button-wrapper.disabled,
button[type="submit"][disabled] {
  display: none;
}
.button-wrapper.disabled + .custom-loader:not(.vertical-center),
button[type="submit"][disabled] + .custom-loader:not(.vertical-center) {
  display: block;
}
.button-wrapper.disabled + .custom-loader.vertical-center,
button[type="submit"][disabled] + .custom-loader.vertical-center {
  display: flex;
  height: 100%;
}
label.error {
  color: #ff3636;
  display: block;
  padding-top: 0.3em;
}
.form-message i,
.form-message span {
  display: inline-block;
}
.form-message span {
  margin-left: 0.5em;
}
.form-message.error {
  color: #ff3636;
}
.form-message.success {
  color: #149a14;
}
.form-message.success,
.form-message.error {
  margin-top: 0em;
}
input,
textarea,
button,
select {
  font-family: inherit;
}
input,
textarea,
button,
select,
input:hover,
textarea:hover,
button:hover,
select:hover,
input:active input:focus,
textarea:active textarea:focus,
button:active button:focus,
select:active select:focus {
  box-shadow: none;
  outline: none;
}
textarea {
  resize: none;
}
.site-navbar,
background white,
display flex,
align-items center,
height 78px,
left 0,
position fixed,
top 0,
width 100%,
z-index 12,
display none,
main,
padding-top 0px,
.site-navbar__menu-trigger,
.site-navbar__mobile-logo-container,
color white,
.site-navbar__desktop-logo-container,
img,
width remify(150),
.site-navbar__menu-container,
flex-grow 1,
text-align right,
height 100%,
.site-navbar__menu,
justify-content flex-end,
.site-navbar__menu-link,
color black,
font-size remify(19),
:hover,
.active {
  color: #fff;
}
@media (max-width: 876px) {
  .site-navbar {
    justify-content: space-between;
    height: 56px;
    padding: 0 18px;
  }
  .site-navbar__desktop-logo-container {
img
    height: 1.25rem;
    width: auto;
  }
  .site-navbar__mobile-logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  img {
    width: 100%;
  }
  .site-navbar__menu-trigger {
    display: block;
    float: right;
    font-size: 18px;
  }
  .site-navbar__menu-container {
    background: #fff;
    height: 100vh;
    margin-right: 0;
    overflow-y: auto;
    position: fixed;
    right: -280px;
    top: 0;
    transition: right 0.2s;
    width: 280px;
    padding-top: 25px;
  }
  .site-navbar__menu-container--show-menu {
    right: 0;
  }
  .site-navbar__menu {
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: left;
    height: auto;
    flex-wrap: wrap;
  }
  .site-navbar__menu-link {
    display: block;
    height: auto;
    display: block;
    text-align: left;
    flex-basis: 100%;
  }
}
.hamburger {
  padding: 0px;
  display: none;
}
.hamburger:active {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger-box {
  width: 30px;
}
.hamburger-inner {
  width: 30px;
  height: 3px;
  background-color: #ff9a00;
}
.hamburger-inner::after {
  top: -14px !important;
  width: 30px;
  height: 3px;
  background-color: #ff9a00;
}
.hamburger-inner::before {
  top: -7px;
  width: 30px;
  height: 3px;
  background-color: #ff9a00;
}
.add-background {
  background: url("background/cierralo-n-e-wfinal-01.png");
  background-size: 100%;
}
.add-background-white {
  background: #fff;
}
.right-item-nav {
  float: right !important;
}
.no-padding-nav {
  padding-top: 0px !important;
}
.neopraxis-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 9999;
  padding-bottom: 32px;
}
.navbar-right {
  padding-left: 0px;
}
#neopraxis-main-navbar {
  padding-left: 0px;
  margin: auto;
  margin-top: 0px;
}
section {
  width: 100%;
}
.mainLogo {
  width: 83px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.neopraxis-aling-end {
  align-items: flex-end;
}
.neopraxis-strong-font {
  font-family: 'HelveticaNeue-bold';
}
.neopraxis-primary-color {
  color: #e66700;
}
.neopraxis-broken-color {
  color: #aaa;
}
.neopraxis-button-header > a:hover {
  color: #fff;
  font-family: 'HelveticaNeue-Medium';
}
.neopraxis-default-btn {
  width: 128px;
  height: 39px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  color: #fff;
  margin: 0 10px;
  padding: 11px 23px;
}
.neopraxis-default-btn:focus {
  outline: none;
}
.neopraxis-buttons-container {
  margin-top: 26px;
}
.neopraxis-btn-secondary {
  background-color: #e66700;
  color: #fff;
  font-size: 14px;
}
.neopraxis-btn-primary {
  background-color: #f7971c;
}
.neopraxis-button-header > a {
  color: #fff;
}
.neopraxis-button-header {
  background: #e66700;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 19px !important;
}
.neopraxis-text-center {
  text-align: center;
}
.stronger {
  font-weight: bold;
}
.border {
  border: 2px solid #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 7px;
  padding-left: 10px;
  padding-right: 10px !important;
}
.navbar {
  min-height: 76px !important;
}
.brand {
  font-family: 'PT Sans', sans-serif;
}
span.mainLogo {
  font-size: 25pt;
  font-weight: bold;
}
span.textLogo {
  font-size: 12pt;
  letter-spacing: 6px;
  position: absolute;
  margin-left: 50px;
  margin-top: -25px;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-top {
  max-width: 50%;
  width: 45px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.title {
  font-size: 25pt;
  margin-top: 60px;
}
.square {
  border: 1px solid #000;
  width: 50%;
}
.form-sketch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noLeftPadding {
  width: 150px !important;
  background: #fff;
  color: #fff;
  border: none;
}
.label {
  color: #4a4a4a;
}
.size {
  width: 500px;
}
.subtitle {
  color: #aaa;
  font-size: 12pt;
  padding: 5px;
}
.vertical {
  flex-direction: column;
}
.logoFb {
  width: 20px;
  margin-right: 18px;
}
.buttonFB {
  background: #3a5998;
  color: #fff;
}
.buttonG {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #9b9b9b;
}
.button {
  padding: 12px;
  margin: 4px;
  font-size: 13pt;
  text-decoration: none;
  padding-left: 20px;
  width: 260px;
}
.text-brand {
  font-family: 'Nunito', sans-serif;
}
.navbar-default a {
  font-size: 14px !important;
}
.border > a {
  padding: 5px !important;
}
.navbar-default,
.navbar-static-top {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #fff;
  color: #9b9b9b;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  text-align: left;
  line-height: 1.7;
  padding: 1em;
}
.footer-square {
  width: 300px;
}
.change-width {
  width: 225px;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.marginTop {
  margin-top: -13px;
}
.marginMoreTop {
  margin-top: -10px;
}
.margin-top-3 {
  margin-top: -5px;
}
.end {
  align-items: flex-end !important;
}
.footer-font-left {
  font-size: 10pt;
  text-align: left;
}
.footer-font-right {
  font-size: 15px;
  text-align: right;
}
.fotter-font-middle-bottom {
  font-size: 14px;
  margin-top: 20px;
}
.navbar-brand {
  text-decoration: none;
  margin-left: 60px;
}
.middle-width {
  width: 400px;
}
.cierralo-max-width {
  width: 100%;
  justify-content: space-between !important;
}
.cierralo-no-center {
  align-items: baseline !important;
}
.cierralo-row-one {
  margin-bottom: 30px;
  margin-left: 140px;
  align-items: flex-start !important;
  margin-top: 41px;
}
.cierralo-phone {
  text-decoration: none;
  color: #9b9b9b;
}
.cierralo-footer-divider {
  border-bottom: 1px solid #e5e5e5;
  height: 1px;
  width: 80%;
  margin-bottom: 28px;
}
.cierralo-footer-last-text {
  width: 30%;
  justify-content: space-between;
}
.cierralo-footer-list {
  list-style: none;
}
.cierralo-remove-margin {
  margin-top: 10px;
}
.cierralo-add-padding-left {
  padding-left: 9px;
}
.fitLogo {
  width: 175px;
  height: auto;
  padding-top: 26px;
  margin-top: -8px;
}
.nav {
  zoom: 1;
  margin: 0;
}
.nav ul {
  overflow: hidden;
  padding-left: 0;
  zoom: 1;
}
.nav li {
  display: block;
  float: left;
  list-style-type: none;
  margin-right: 0.8em;
  padding-top: 20px;
  border-top: solid 4px #fff;
}
.nav a {
  color: #444;
  display: block;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 14px;
  padding: 8px;
}
.no-borderradius .nav a:focus,
.no-borderradius .nav a:hover {
  background-color: transparent;
  color: #444;
  text-decoration: underline;
}
.nav a.home,
.nav a.list,
.nav a.create {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}
.nav a.home {
  background-image: url("../images/skin/house.png");
}
.nav a.list {
  background-image: url("../images/skin/database_table.png");
}
.nav a.create {
  background-image: url("../images/skin/database_add.png");
}
.nav li.dropdown.open ul.dropdown-menu {
  background-color: #4d8618;
}
.nav li.active {
  border-top: solid 4px #6b806c;
}
.navbar-register-button {
  margin-left: 10px;
  margin-right: 60px !important;
}
.navbar-register-button-box {
  width: 94px;
  height: 32px;
  text-align: center;
  background-color: #c2a463;
  margin-top: -8px;
}
#neopraxisNavbar {
  display: none;
}
#neopraxisNavbar.show {
  display: flex;
}
.site-footer {
  background-image: linear-gradient(215deg, rgba(21,44,28,0.76), rgba(46,163,111,0.76));
  width: 100%;
  padding-top: 34px;
  padding-bottom: 34px;
}
.footer-logo {
  width: 144px;
  height: auto;
}
.copyright-text {
  font-size: 10px;
  padding-top: 26px;
}
.footer-links-container {
  padding-top: 44px;
  align-items: flex-end !important;
}
.footer-link-text {
  font-size: 10px;
  line-height: 25px;
}
.links-first-section {
  padding-right: 40px;
}
.links-second-section {
  padding-right: 60px;
}
.newsletter-box {
  width: 265px;
}
.newsletter-input {
  width: 265px;
  height: 36px;
  color: #fff;
  background-color: transparent;
  border: solid 1px #fff;
  padding-left: 12px;
  font-size: 9px;
  margin-bottom: 17px;
}
.newsletter-input::placeholder {
  color: #fff;
}
.newsletter-btn {
  background-color: #658c78;
  color: #fff;
  font-size: 11px;
  border: none;
  border-radius: 20px;
  width: 165px;
  height: 38px;
  float: right;
}
.footer-share-box {
  margin-top: 10px;
}
.footer-share-icon {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}
.footer-share-icon.last {
  margin-right: 0px;
}
